name: Release new Version

on:
  pull_request:
    branches:
    - 'release/*'
    types:
      - closed
  create:
    branches:
      - 'release/*'

jobs:
  build:
    name: Build and Release
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        architecture: x64
    
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.8.2
        
    - name: Run the Maven verify phase
      run: mvn --batch-mode --update-snapshots verify
      working-directory: Backend
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      working-directory: Backend

    - name: Archive dist folder
      run: cp Backend/target/schafkopf-backend-build-jar-with-dependencies.jar release && zip -r dist.zip release/*
    
    - name: Get current Version Number
      run: echo "version=$(node -p "require('./fcf-frontend/package.json').version")" >> $GITHUB_ENV
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
      with:
        tag_name: ${{ env.version }}
        release_name: Release ${{ env.version }}
        body: "Test"
        draft: false
        prerelease: false
    
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: dist.zip
        asset_name: release_files.zip
        asset_content_type: application/zip
